html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3{
  color:black;
  padding: 1%;
}
p{
  color:black;
  padding: 1%;
}
.login-section{
width: 1280px;
padding-bottom: 90px;
height: 30vh;
left: 0%;
margin: 0%;
text-align: left;

}
.panel-heading1{
  color: #ffffff;
  background-color: blue;
  padding:5px 10px;
  border:1px solid;
  border-color: #ffffff;
}
.panel-heading-font{
  font-size: 16px;
}
.panel-login{
  background-color: #f7f7ef;
  color: #73706e;
}
.btn-login{
  background-color: #77DDF5;
  color: #7705bc;
  display:block;
  margin-top: 0%;
  position: absolute;
  width:100%;
  padding:15px 0px;
  text-align: center;
  transform: translate(0px, 193px);
}
.panel-heading2{
  color: #ffffff;
  background-color: #7705bc;
  padding:5px 10px;
  border:1px solid;
  border-color: #ffffff;
}
.panel-font1{
  font-size:27px;
}
input[type=text] {
  width: 493px;
  height: 30px;
  display: block;
  padding: 10px 15px;
  background-color:#FFFFFF;
  border: none;
  align-content: center;
}
.position1{
width: 555px;
height: 380px;
float:left;
left: 0%;
transform: translate(-1px, -1px);
}

.position2{
width: 555px;
height: 340px;
float:left;
transform: translate(45px, -1px);
}

@media screen and (max-width: 1200px) {
  .login-section {
  width: 100%;
      }
  .position2{
    transform: translate(0px, 20px); 
      }
  }

.panel1-btn{
  transform: translate(0px, 114px);
}
.panel2-btn{
  transform: translate(0px, 22px);
}
.usrnm-pos{
  padding: 0.5em;
  margin: 0.25em;
}
.pswrd-pos{
  padding: 0.5em;
  margin: 0.25em;
}
.test{
  text-align: right;
  margin-top: 5px;
  margin-right: 1em;
}